{% block content %}
<div class="wrapper">
  <h1>Wybierz w jaki sposób chcesz grać w warcaby</h1>
  <form method="POST">
    {% csrf_token %}
    <div class='form-control'>
      <label>Tryb gry:</label><br>
      <label>
      <input type="radio" name="tryb" value="lokalnie" required>
    lokalnie
  </label><br>
       <label>
      <input type="radio" name="tryb" value="online" required>
    online
  </label><br>
    </div>
    <input type="submit" class="button" value="Gram" />
</form>
</div>
{% endblock content %}