<!DOCTYPE html>
<html lang="pl">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=1000, height=600, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href={% static 'warcaby/base.css' %}>
    <title>Warcaby</title>
    {% block head %}
    {% endblock head %}
</head>
<body>
    <div class="topnav">
    {% block navbar %} {% endblock %}
    </div>
    <div id="main">
        {% block main %} {% endblock %}
    </div>
</body>
</html>