.topnav {
  background-color: #2596be;
  color: #eeeee4;
  overflow: hidden;
}

a.bar:visited, a.bar:link{
 color: inherit;
}

html, body{
    margin:0px;
    padding:0px;
    background-color: #eeeee4;
    font-family: Helvetica;
}

h1 {
  margin-left: 20px;
  font-size: xx-large;
}

form{
  margin:5px;
    padding:5px;
}

#cookies {
  bottom: 0;
  left: 0;
  right: 0;
  background-color: yellow;
  font-size: small;
  line-height: 20px;
  padding: 8px 0 8px 30px;
  position: fixed;
  
}

#cookies a.cookiesOK {
  background-color: #ffe310;
  display: inline-block;
  border-radius: 5px;
  padding: 0 20px;
  cursor: pointer;
  margin: 0 60px 0 10px;
}


.error{
	display: none;
	margin-left: 15px;
}		

.show_error{
	color: red;
	margin-left: 15px;
}

li:not(:last-child) {
    margin-bottom: 10px;
}