{% extends 'warcaby/base.html' %}
{% block navbar %}
{% load static %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script src="{% static 'warcaby/config.js' %}"></script>

<h1> <a class="bar" href="{% url 'home' %}">Warcaby</a> > <a class="bar" href="{% url 'local_main' %}">lokalne</a> > konfiguracja</h1>
{% endblock navbar %}
{% block main %}

<form action="/local/play" method="GET" onsubmit="return validateForm(event)">
    <div class="config-form">
        <table class="config-table">
    <tr>
        <th></th>
        <th></th>
        <th></th>
    </tr>
      <tr>
        <div>
            <td><label for="size">Rozmiar planszy</label></td>
            <td><input type="number" name="size" value="8" id="size"></td>
            <td><span id="error1" class="error">Romiar musi być liczbą naturalną większą równą 4</span> </td>
        </div>
          </tr>
            <tr>
        <div>
            <td><label for="starting_rows">Liczba rzędów pionków</label></td>
            <td><input type="number" class="form-control" name="starting_rows" access="false" value="3" id="starting_rows"></td>
            <td><span id="error2" class="error">Liczba rzędów pionków musi być liczbą naturalną większą równą 2</span> </td>
        </div>
            </tr>
             <tr>
        <div>
            <td><label for="starting_player" class="formbuilder-radio-group-label">Rozpoczynający gracz</label></td>
            <div>
                <td><input name="starting_player" access="false" id="starting_player_white" value="white" type="radio" checked="checked">
                <label for="starting_player_white">Biały</label></td>
            </div>
             </tr>
             <tr>
             <td></td>
            <div>
                <td><input name="starting_player" access="false" id="starting_player_black" value="black" type="radio">
                <label for="starting_player_black">Czarny</label></td>
            </div>
        </div>
    </div>
    </tr>
    <tr>
    <td></td>
    <td><input type="submit" value="Nowa gra">
    <span id="error3" class="error">Rozmiar planszy jest za mały, w stosunku do liczby rzędów pionków</span></td>
    </tr>
    </table>
</form>

{% endblock main %}