{% extends 'warcaby/base.html' %}
{% load static %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script src="{% static 'warcaby/config.js' %}"></script>

{% block navbar %}
<h1> Konfiguracja </h1>
{% endblock navbar %}
{% block main %}

<form action="/local/play" method="GET" onsubmit="return validateForm(event)">
    <div class="config-form">
        <div>
            <label for="size">Rozmiar planszy</label>
            <input type="number" name="size" value="8" id="size">
            <span id="error1" class="error">Romiar musi być liczbą naturalną większą równą 4</span> 
        </div>
        <div>
            <label for="starting_rows">Liczba rzędów pionków</label>
            <input type="number" class="form-control" name="starting_rows" access="false" value="3" id="starting_rows">
            <span id="error2" class="error">Liczba rzędów pionków musi być liczbą naturalną większą równą 2</span> 
        </div>
        <div>
            <label for="starting_player" class="formbuilder-radio-group-label">Rozpoczynający gracz</label>
            <div>
                <input name="starting_player" access="false" id="starting_player_white" value="white" type="radio" checked="checked">
                <label for="starting_player_white">Biały</label>
            </div>
            <div>
                <input name="starting_player" access="false" id="starting_player_black" value="black" type="radio">
                <label for="starting_player_black">Czarny</label>
            </div>
        </div>
    </div>
    <input type="submit" value="Nowa gra">
    <span id="error3" class="error">Rozmiar planszy jest za mały, w stosunku do liczby rzędów pionków</span> 
</form>

{% endblock main %}