{% extends 'warcaby/base.html' %}
{% block head %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href={% static 'warcaby/game_board.css' %}>
    <link rel="stylesheet" type="text/css" href={% static 'warcaby/base.css' %}>
    {{ board_config | json_script:"board_configuration" }}
    {{ online_config | json_script:"online_configuration" }}
    <script src={% static 'warcaby/game.js'%}></script>
{% endblock head %}
{% block navbar %}
<h1> <a class="bar" style="text-decoration: none; color: inherit;" href="{% url 'home' %}">Warcaby</a> > <a class="bar" style="text-decoration: none; color: inherit;" href="{% url 'local_main' %}">lokalne</a> > gra</h1>
{% endblock navbar %}

{% block main %}

    <div class="game_board_container" id="game_board_container"></div>
{% endblock main %}