{% extends 'warcaby/base.html' %}

{% block head %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href={% static 'warcaby/game_board.css' %}>
    {{ board_config | json_script:"board_configuration" }}
    {{ online_config | json_script:"online_configuration" }}
    {{ room.room_name | json_script:"room_name" }}
    <script src={% static 'warcaby/game.js'%}></script>
{% endblock head %}
{% block navbar %}
<h1> <a class="bar" style="text-decoration: none; color: inherit;" href="{% url 'home' %}">Warcaby</a> > <a class="bar" style="text-decoration: none; color: inherit;" href="{% url 'online_main' %}">online</a> > <a class="bar" style="text-decoration: none; color: inherit;" href="{% url 'online_list' %}">lista gier</a> > pokój: {{room.room_name}}</h1>
{% endblock navbar %}
{% block main %}

    <div class="game_board_container" id="game_board_container"></div>
{% endblock main %}