{% extends 'warcaby/base.html' %}

{% block head %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href={% static 'warcaby/game_board.css' %}>
    {{ board_config | json_script:"board_configuration" }}
    {{ online_config | json_script:"online_configuration" }}
    {{ room.room_name | json_script:"room_name" }}
    <script src={% static 'warcaby/game.js'%}></script>
{% endblock head %}
{% block navbar %}
<h1>Warcaby Online: {{room.room_name}} </h1>
{% endblock navbar %}
{% block main %}

    <div id="game_board_container"></div>
{% endblock main %}