{% extends 'warcaby/base.html' %}
{% block navbar %}
<h1> <a class="bar" href="{% url 'home' %}">Warcaby</a> > <a class="bar" href="{% url 'online_main' %}">online</a> > lista gier</h1>
{% endblock navbar %}
{% block main %}

<ul>
    {% for game in game_list %}
    {# TODO: Tabelka pewnie ładniej by wyglądała #}
        <li> 
            {{game.room_name}}, 
            {% if game.is_protected %}PIN,{% else %}{% endif %}
            <a href={{"/online/room/" | add:game.room_name | add:"/lobby"}}> JOIN</a>
        </li>
    {% endfor %}
</ul>
{% endblock main %}

