{% extends 'warcaby/base.html' %}
{% block main %}
<div class="topnav">
<h1> Poczekalnia pokoju {{room_name}}</h1>
</div>
<span class="player_controlling"> 
    {% if controlling == "white" %} 
        Grasz białymi
    {% elif controlling == "black" %}
        Grasz czarnymi
    {% else %}
        Nie grasz
    {% endif %}
</span>
<ul>
    <li>Gracz biały: <span class="not_ready" id="white_ready">Nie gotowy</span></li>
    <li>Gracz czarny: <span class="not_ready" id="black_ready">Nie gotowy</span></li>
</ul>
<input type="button" id="readiness" value="Gotowy" onclick="ready_up()">
<span class="countdown" id="countdown"> </span>
{% endblock main %}

