{% extends 'warcaby/base.html' %}
{% block head %}
{% load static %}
{{ room.room_name | json_script:"room_name" }}
{{ control | json_script:"control" }}
<script src={% static 'warcaby/lobby.js'%}></script>
{% endblock head %}
{% block navbar %}
<h1> <a class="bar" href="{% url 'home' %}">Warcaby</a> > <a class="bar" href="{% url 'online_main' %}">online</a> > <a class="bar" href="{% url 'online_list' %}">lista gier</a> > poczekalnia pokoju: {{room.room_name}}</h1>
{% endblock navbar %}
{% block main %}
<span class="player_controlling"> 
    {% if control == "white" %} 
        Grasz białymi
    {% elif control == "black" %}
        Grasz czarnymi
    {% else %}
        Nie grasz
    {% endif %}
</span>
<ul>
    <li>Gracz biały: <span class="not_ready" id="white_ready">Nie gotowy</span></li>
    <li>Gracz czarny: <span class="not_ready" id="black_ready">Nie gotowy</span></li>
</ul>
<input type="button" id="readiness" value="Gotowy">
<span class="countdown" id="countdown"> </span>
{% endblock main %}

